<!doctype html>
<html class=" csstransforms csstransforms3d csstransitions js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths js_active  vc_desktop  vc_transform  vc_transform">
	<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Home Page - Goodnews theme</title>
        <style type="text/css">
            .cf-hidden { display: none; } .cf-invisible { visibility: hidden; }</style>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--[if lt IE 9]> <script src="js/html5.js">
        </script> 
        <script src="js/IE9.js">
        </script> <![endif]-->
        <meta name="robots" content="noindex,follow">


<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css" />









        <link rel="canonical" href="http://themes.momizat.com/goodnews/">
        <link rel="stylesheet" id="bp-parent-css-css" href="css/buddypress.css" type="text/css" media="screen">
        <link rel="stylesheet" id="contact-form-7-css" href="css/styles.css" type="text/css" media="all">
        <link rel="stylesheet" id="plugins-css" href="css/plugins.css" type="text/css" media="all">
        <link rel="stylesheet" id="main-css" href="css/main.css" type="text/css" media="all">
        <link rel="stylesheet" id="responsive-css" href="css/media.css" type="text/css" media="all">
        <link rel="stylesheet" id="style-css" href="css/style.css" type="text/css" media="all">
        <link rel="stylesheet" id="font-awesome-css" href="css/font-awesome.min.css" type="text/css" media="screen">
        <script type="text/javascript" src="js/jquery.js">
        </script> 
        <script type="text/javascript" src="js//jquery-migrate.min.js" >
        </script> 
        <script type="text/javascript" src="js//widget-members.min.js" defer="defer" >
        </script> 
        <script type="text/javascript" src="js/widget-groups.min.js" defer="defer" >
        </script> 
        <script type="text/javascript">var BP_Confirm = {"are_you_sure": "Are you sure?"};</script> 
        <script type="text/javascript" src="js/confirm.min.js" defer="defer" >
        </script> 
        <script type="text/javascript" src="js/widget-members.min.js" defer="defer" >
        </script> 
        <script type="text/javascript" src="js/jquery-query.min.js" >
        </script>
        <script type="text/javascript" src="js/jquery-cookie.min.js" >
        </script> 
        <script type="text/javascript" src="js/jquery-scroll-to.min.js" >
        </script> 
        <script type="text/javascript" >var BP_DTheme = {"accepted": "Accepted", "close": "Close", "comments": "comments", "leave_group_confirm": "Are you sure you want to leave this group?", "mark_as_fav": "Favorite", "my_favs": "My Favorites", "rejected": "Rejected", "remove_fav": "Remove Favorite", "show_all": "Show all", "show_all_comments": "Show all comments for this thread", "show_x_comments": "Show all %d comments", "unsaved_changes": "Your profile has unsaved changes. If you leave the page, the changes will be lost.", "view": "View"};
        </script> 
        <script type="text/javascript" src="js/buddypress.js" defer="defer" >
        </script> 
        <script type="text/javascript">var ajaxurl = '/admin-ajax.php';</script> 
        <!--[if IE 8]>
        <link rel="stylesheet" type="text/css" href="css/vc-ie8.css" media="screen">
        <![endif]-->
        <style type="text/css" title="dynamic-css" class="options-output">body{color:#818181}</style>
        <style type="text/css">.header>.inner,.header .logo{line-height:100px;height:100px}
        .simptip-movable:after,.simptip-movable:before{-moz-box-sizing:content-box!important;-webkit-box-sizing:content-box!important;box-sizing:content-box!important}
        .custom_slider_sidebar .widget{height:481px;border-left:none}</style>


 	</head>
	<body class="home-page home page page-id-92 page-template-default fullwidth both-sidebars fade-imgs-in-appear time_in_twelve_format one-side-wide both-sidebars both-sides-true wpb-js-composer js-comp-ver-4.4.3 vc_responsive js">
	  	<style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}
	  	</style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <style>
        .activeNB .block  {
          transition: all .3s ease;
        }
        .activeNB .block{
          z-index: 3;
          transform: translateY(200px);
          transform: scale(1);
          opacity: 1;
        }
        .hideNB .block{
            transform: scale(0.5);
            z-index: 1;
            opacity: 0;
        }

        .activeNB .block-1 {
          transition-delay: .1s;
        }
        .activeNB .block-2 {
          transition-delay: .1s;
        }
        .activeNB .block-3 {
          transition-delay: .2s;
        }
        .activeNB .block-3 {
          transition-delay: .3s;
        }
        .activeNB .block-4 {
          transition-delay: .4s;
        }
        .activeNB .block-5 {
          transition-delay: .5s;
        }
        .activeNB .block-6 {
          transition-delay: .6s;
        }
        .activeNB .block-7 {
          transition-delay: .7s;
        }
        .activeNB .block-8 {
          transition-delay: .8s;
        }
        .activeNB .block-9 {
          transition-delay: .9s;
        }
       

        </style>
	    <!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
	    href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	    <![endif]-->

    	
			<div id="data"></div>

			<%- reactOutput %>
		
        <a href="#" class="scrollToTop button" style="display: block;">
            <i class="enotype-icon-arrow-up">
            </i>
        </a> 
		<script type="text/javascript" src="js/comment-reply.min.js" >
        </script> 
        <script type="text/javascript" src="js/editor.js" >
        </script> 
        <script type="text/javascript" src="js/jquery.form.min.js" >
        </script> 
        <script type="text/javascript" >
            var _wpcf7 = {"loaderUrl": "images\/ajax-loader.gif", "sending": "Sending ...", "cached": "1"};
        </script> 
        <script type="text/javascript" src="js/scripts.js" >
        </script> 
        <script type="text/javascript" src="js/sbp-lazy-load.min.js">
        </script> 
        <script type="text/javascript">
            var wc_add_to_cart_params = {"ajax_url": "admin-ajax.php", "i18n_view_cart": "View Cart", "cart_url": "cart\/", "is_cart": "", "cart_redirect_after_add": "no"};
        </script>
        <script type="text/javascript" src="js/jquery.blockUI.min.js">
        </script> 
        <script type="text/javascript">
            var woocommerce_params = {"ajax_url": "\/goodnews\/wp-admin\/admin-ajax.php"};
        </script>
        <script type="text/javascript" src="js/woocommerce.min.js">
        </script> 
        <script type="text/javascript" src="js/jquery.cookie.min.js">
        </script> 
        <script type="text/javascript">
            var wc_cart_fragments_params = {"ajax_url": "\/admin-ajax.php", "fragment_name": "wc_fragments"};
        </script>
        <script type="text/javascript" src="js/cart-fragments.min.js">
        </script> 
        <script type="text/javascript" src="js/plugins.js">
        </script> 
        <script type="text/javascript">
            var momAjaxL = {
                "url": "\/admin-ajax.php",
                "nonce": "0872e92675",
                "success": "check your email to complete subscription",
                "error": "Already subscribed",
                "error2": "Email invalid",
                "werror": "Enter a valid city name.",
                "nomore": "No More Posts",
                "homeUrl": "http:\/\/themes.momizat.com\/goodnews",
                "viewAll": "View All",
                "noResults": "Sorry, no posts matched your criteria",
                "bodyad": ""
            };
        </script> 
        <script type="text/javascript" src="js/main.js">
        </script> 
        <script type="text/javascript" src="js/jquery.prettyPhoto.js" >
        </script> 
        <script type="text/javascript" >
            var momdc = {
                "url": "http:\/\/themes.momizat.com\/goodnews\/wp-content\/themes\/goodnews5",
                "ajaxurl": "http:\/\/themes.momizat.com\/goodnews\/wp-admin\/admin-ajax.php",
                "nonce": "0872e92675"
            };
        </script> 
        <script type="text/javascript" src="js/demo.js" >
        </script> 
		<script src="/main.js"></script>
        <script src="public/main.js"></script>
	</body>
</html>
